COMPOSE_PROJECT_NAME=ie212-bigdata

POSTGRES_DB=stock_project
POSTGRES_USER=stock_user
POSTGRES_PASSWORD=change_me_postgres
POSTGRES_PORT=15432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_minio
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_BUCKET_RAW=raw
MINIO_BUCKET_PROCESSED=processed
MINIO_BUCKET_MODELS=models
MINIO_BUCKET_ARTIFACTS=artifacts

KAFKA_IMAGE=apache/kafka:4.1.2
KAFKA_HOST_PORT=29092
KAFKA_BROKER_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_NODE_ID=1
KAFKA_TOPIC_STOCK_PRICE=stock-price

SPARK_IMAGE=apache/spark:4.0.2-python3
SPARK_MASTER_PORT=7077
SPARK_MASTER_WEBUI_PORT=8080
SPARK_WORKER_WEBUI_PORT=8081
SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2G

AIRFLOW_IMAGE_NAME=ie212-airflow-custom:local
AIRFLOW_UID=50000
AIRFLOW_PORT=8088
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://stock_user:change_me_postgres@postgres:5432/airflow_meta
AIRFLOW__CORE__FERNET_KEY=4s2I8l4J4H6D7n3cK7s3eCw9i8dXx4mV2bKk3sJrA9Q=
AIRFLOW__API_AUTH__JWT_SECRET=ie212_local_airflow_jwt_secret
AIRFLOW__CORE__AUTH_MANAGER=airflow.api_fastapi.auth.managers.simple.simple_auth_manager.SimpleAuthManager
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=airflow:admin
AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://airflow-apiserver:8080/execution/

IE212_POSTGRES_HOST=postgres
IE212_POSTGRES_PORT=5432
IE212_POSTGRES_DB=stock_project
IE212_POSTGRES_USER=stock_user
IE212_POSTGRES_PASSWORD=change_me_postgres

IE212_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
IE212_KAFKA_TOPIC=stock-price

IE212_SPARK_MASTER_CONTAINER=ie212-spark-master
IE212_SPARK_MASTER_URL=spark://spark-master:7077
IE212_SPARK_MASTER_UI_URL=http://spark-master:8080
IE212_SPARK_KAFKA_PACKAGE=org.apache.spark:spark-sql-kafka-0-10_2.13:4.0.2
IE212_POSTGRES_JDBC_PACKAGE=org.postgresql:postgresql:42.7.10

IE212_MINIO_CLIENT_CONTAINER=ie212-minio-client
IE212_MINIO_ENDPOINT=http://minio:9000
IE212_MINIO_ACCESS_KEY=minioadmin
IE212_MINIO_SECRET_KEY=change_me_minio
IE212_MINIO_PROCESSED_BUCKET=processed
IE212_MINIO_PARQUET_PREFIX=kafka_ticks_parquet

IE212_PARQUET_LOCAL_DIR=/opt/airflow/shared/spark_out/kafka_ticks_parquet
IE212_SPARK_PARQUET_DIRNAME=kafka_ticks_parquet

IE212_ML_RUNNER_CONTAINER=ie212-ml-infer
IE212_MODEL_CHECKPOINT=/workspace/models/hybrid_expanding_best_full.pt
IE212_MODEL_NAME=hybrid_expanding_best_full
IE212_INFERENCE_RAW_DIR=/workspace/data/raw
IE212_INFERENCE_BUNDLE_PATH=/workspace/data/inference/latest_window.npz
IE212_INFERENCE_OUTPUT_JSON=/workspace/outputs/inference/latest_prediction.json

IE212_API_CONTAINER=ie212-fastapi
IE212_API_PORT=8008
IE212_API_POSTGRES_HOST=postgres
IE212_API_POSTGRES_PORT=5432
IE212_API_POSTGRES_DB=stock_project
IE212_API_POSTGRES_USER=stock_user
IE212_API_POSTGRES_PASSWORD=change_me_postgres
